* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	text-align: center;
	background-color: #ffffff;
	font-size: 22px;
}

h1 span {
	color: red;
}

button {
	margin-top: 40px;
	padding: 0.5rem 1rem;
	color: #fff;
	border: none;
	background-color: #000000;
	cursor: pointer;
	border-radius: 5px;
}

@media (min-width: 576px) {
	body {
		font-size: 33px;
	}

	button {
		font-size: 20px;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 44px;
	}

	button {
		font-size: 25px;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 55px;
	}

	button {
		font-size: 30px;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 66px;
	}

	button {
		font-size: 30px;
        transition: background-color .3s;
	}

	button:hover {
		background-color: #3e3e3e;
	}
}
